{% extends 'index.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="main">
    <div class="main1">
        <div class="img">
            <div class="image"></div>
        </div>
        <div class="text">
            <div>
                <h1>ABOUT US</h1>
                <p>Tea is an important economic crop. It contains a variety of effective ingredients required by the human body, has medical and health care functions, and is quite effective in enhancing human immunity. Planting tea is an important way for tea farmers to make their fortunes. Currently,China's tea planting area and output are the highest in the world. However, because of the effects of many diseases, such as tea algae leaf spot (TALS).tea bud blight (TBB), tea white scab (TWS), and tea leaf blight (TLB), the annual tea production has been reduced by as much as 20% 1. Tea leaf diseases can also reduce the quality of tea and cause serious economic losses to tea farmers. Accurate cetection and 'centiication of tea leaf diseases and timely prevention and control measures are of great significance to reduce the loss of tea production, improve the quality of tea.and increase the income of tea farmers.</p>
            </div>
    </div>

    </div>
</div>


<style>
    .main{
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main1{
        width: 1200px;
        height: 500px;
        background-color: rgba(15, 15, 15, 0.5);
        display: flex;
        
    }
    .img{
        width: 40%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }
    .image{
        width: 400px;
        height: 400px;
        background-image: url('static/images/about.png');
        background-size: cover;
        border-radius: 20px;
    }
    .text{
        width: 60%;
        height: 500px;
        /* background-color:wheat; */
        display: flex;
        align-items: center;
        /* justify-content: center; */
        color: #fff;
        margin-right:15px ;
    }
    

</style>

{% endblock %}